.footer{
    height: 300px;
    display: flex;
    line-height: 7px;
    text-align: center;
    font-size: 22px;
    background-color: #fff;
}

.contenedor-footer {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px auto;
    
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.title-copy {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}
.link-redes_sociales{
    width: 30px;
}